<script>
  import { props } from "olum";
  import { twMerge } from "tailwind-merge";

  const { class: className = "", children } = props();

  const base =
    "group/input-group relative flex h-8 w-full min-w-0 items-center rounded-lg border border-border transition-colors outline-none has-disabled:bg-muted has-disabled:opacity-50 has-[[data-slot=input-group-control]:focus-visible]:border-ring has-[[data-slot=input-group-control]:focus-visible]:ring-3 has-[[data-slot=input-group-control]:focus-visible]:ring-ring/50 has-[[data-slot][aria-invalid=true]]:border-destructive has-[[data-slot][aria-invalid=true]]:ring-3 has-[[data-slot][aria-invalid=true]]:ring-destructive/20 has-[[data-align=block-end]]:h-auto has-[[data-align=block-end]]:flex-col has-[[data-align=block-start]]:h-auto has-[[data-align=block-start]]:flex-col has-[textarea]:h-auto";

  const classes = () => twMerge(base, className);
</script>

<div data-slot="input-group" role="group" class="{classes()}">{children}</div>
