<script>
  import { props } from "olum";
  import { twMerge } from "tailwind-merge";

  const { class: className = "", children } = props();

  const classes = () => twMerge("[&>svg]:size-3.5", className);
</script>

<li data-slot="breadcrumb-separator" role="presentation" aria-hidden="true" class="{classes()}">
  <if when="children">{children}</if>
  <else>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6" /></svg>
  </else>
</li>
