<script>
  import { props } from "olum";
  import { twMerge } from "tailwind-merge";

  const { class: className = "", children } = props();

  const base =
    "group/card-header @container/card-header grid auto-rows-min items-start gap-1 rounded-t-xl px-(--card-spacing) has-data-[slot=card-action]:grid-cols-[1fr_auto] has-data-[slot=card-description]:grid-rows-[auto_auto] [.border-b]:pb-(--card-spacing) " +
    "[&>*:has([data-slot=card-action])]:col-start-2 [&>*:has([data-slot=card-action])]:row-span-2 [&>*:has([data-slot=card-action])]:row-start-1 [&>*:has([data-slot=card-action])]:self-start [&>*:has([data-slot=card-action])]:justify-self-end";

  const classes = () => twMerge(base, className);
</script>

<div data-slot="card-header" class="{classes()}">{children}</div>
