<script>
  import { props } from "olum";
  import { twMerge } from "tailwind-merge";

  const { size = "default", class: className = "", children } = props();

  const classes = () =>
    twMerge(
      "group/alert-dialog-content top-1/2 left-1/2 z-50 w-full -translate-x-1/2 -translate-y-1/2 gap-4 rounded-xl bg-background p-4 text-popover-foreground ring-1 ring-foreground/10 outline-none data-[size=default]:max-w-xs data-[size=sm]:max-w-xs data-[size=default]:sm:max-w-sm fixed",
      className,
    );
</script>

<div data-slot="alert-dialog-overlay" class="fixed inset-0 isolate z-50 bg-black/10 supports-backdrop-filter:backdrop-blur-md"></div>
<div data-slot="alert-dialog-content" data-size="{size}" class="{classes()}">{children}</div>
