<script>
  import { props } from "olum";
  import { twMerge } from "tailwind-merge";

  const { class: className = "", children } = props();

  const classes = () =>
    twMerge(
      "absolute bottom-full left-1/2 z-50 mb-1.5 inline-flex w-fit max-w-xs -translate-x-1/2 items-center gap-1.5 rounded-md bg-foreground px-3 py-1.5 text-xs text-background whitespace-nowrap transition-[opacity,transform] duration-300 ease-out",
      className,
    );
</script>

<div data-slot="tooltip-content" role="tooltip" class="{classes()}">
  {children}
  <div class="absolute -bottom-1 left-1/2 size-2.5 -translate-x-1/2 rotate-45 rounded-[2px] bg-foreground"></div>
</div>
