<script>
  import { props } from "olum";
  import { twMerge } from "tailwind-merge";

  const { class: className = "", children } = props();

  const base =
    "pointer-events-none inline-flex h-5 w-fit min-w-5 items-center justify-center gap-1 rounded-sm bg-muted px-1 font-sans text-xs font-medium text-muted-foreground select-none in-data-[slot=tooltip-content]:bg-background/20 in-data-[slot=tooltip-content]:text-background [&_svg:not([class*='size-'])]:size-3";

  const classes = () => twMerge(base, className);
</script>

<kbd data-slot="kbd" class="{classes()}">{children}</kbd>
